/* General */

body > .container-fluid {
    padding: 0;
}

/* General end */

/* Header logos */

.header {
    padding: 20px;
    display: table;
    background: #f5f5f5;
    width: 100%;
}

.logos-left, .logos-right {
    display: table-cell;
    vertical-align: middle;
}

.logos-right {
    text-align: right;
}

.logos {
    height: 80px;
}

/* Header logos end */

/* Menú */

.menu {
    background: #333;
    text-transform: uppercase;
    font-size: 10pt;
}

.menu li a {
    padding: 10px 15px !important;
    color: #fff;
}

.menu li a:hover {
    background: none !important;
    color: #e8b271;
}

/* Menú end */

/* Buscador */

.form-inline {
    padding: 40px 0;
    text-align: right;
}

.form-group {
    width: 100%;
    max-width: 300px;
    padding-bottom: 20px;
}

.form-control {
    min-width: 100%;
}

/* Buscador end */

img.searchPic {
    height: 80px;
}

.searchTitle {
    
}

.searchSubtitle {
    
}