body > .container-fluid {
    padding: 0;
}

.header { 
	padding: 40px 20px;
}

.navbar-collapse {
    background: #333;
}

.logos {
    height: 80px;
}

img.searchPic {
    height: 80px;
}

.searchTitle {
    
}

.searchSubtitle {
    
}